<div class="app-wrapper">
  <div class="m-auto">
    <div class="form-inner">
      <h3>Make Your URL Shorter</h3>

      <div class="input-wrapper position-relative">
          <input type="text" placeholder="Enter the url here" class="control-form" [(ngModel)]="urlString" #userinput>
          <i (click)="copyUrl(userinput)" *ngIf="this.clipboard" class="fa fa-clone"></i>
      </div>

      <button [disabled]="!urlString" (click)="convertUrl()">
        {{this.processingText ? 'Processing....' : 'Shorten URL'}}</button>

      <div class="app-content">
          <p>ShortURL at is a free tool to shorten a URL or reduce a link.</p>
          <p>Use our URL Shortener to create a shortened link making it easy to remember.</p>
      </div>

    </div>
    <p class="copyright"> Design &
      Developed By <a href="https://www.linkedin.com/in/amirsohel007/" target="_blank">Amir Sohel</a></p>
  </div>
</div>
