/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&family=Sen&display=swap&family=Pacifico&display=swap')



;
/* font-family: 'Nunito', sans-serif; */

body {background: #F9FBFD;  font-family: 'Sen', sans-serif;}

.form-inner {
    margin: auto;
    background: #fff;
    padding: 20px;
    border: solid 1px #efefef;
    border-radius: 6px;
    box-shadow: 0px 1px 2px rgba(18, 38, 63, 0.05);
    max-width: 390px;
    text-align: center;
}

button {
    background: #2C7BE5;
    border: none;
    color: #fff;
    padding: 13px 40px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 15px;
    letter-spacing: 0.3px;
    transition: all 0.3s;
}

.app-wrapper {
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    background: url('./assets/pattern.png') #000;
    background-size: contain;
}

.m-auto {margin: auto;}
.copyright {
    color: #fff;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 0;
}

.app-content p {
    font-size: 13px;
    color: #4e4e4e;
}

.copyright a {
    color: #00BCD4;
}

.app-content  {
    margin-top: 30px;
}

.control-form {
    width: 100%;
    border-radius: 30px;
    border:solid 1px #e0e0e0;
    min-height: 44px;
    padding: 5px 20px;
    margin: 15px 0 30px 0px !important;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
}

.control-form:focus, button:focus {outline: none;}

button:disabled {
    background: #2c7be5b3;
    pointer-events: none;
    transition: all 0.3s;
}

@media (max-width:767px){
    .form-inner{
        max-width: 280px;
    }
}